html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-style: normal;
}


.ballbg {
    animation: fade 3s ease-in-out infinite alternate;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}